// Example main.scss file
body {
    font-family: Roboto, serif; /* Apply Georgia as the primary font with serif fallback */
    background-color: #f0f0f0;
}

$primary: #0F1C70;
$secondary: #f0f0f0;

$google_font_name: 'Roboto';
$google_font_family: 'Roboto, serif';
